<div class="col-6 mt-2 mb-2">
  <ul class="list-group" *ngIf="heroList.length > 0">
    <li class="list-group-item d-flex justify-content-center fw-bold fs-3">Hero list</li>

    <li class="list-group-item"  *ngFor="let hero of heroList">{{hero}}</li>
   </ul>
   <!-- div que no existe fisicamente, #referencia local a conficion if else se llama con el nombre del else -->
  <ng-template #nothingDeleted>
    <h4>Nothing deleted</h4>
  </ng-template>

  <div class="d-flex justify-content-end mt-3 mb-3" *ngIf="heroList.length > 0">
    <button class="btn btn-outline-danger" (click)="removeLastHero()">Delete last hero</button>
  </div>

  <div class="d-flex justify-content-center mt-3 mb-3" *ngIf="deletedHero; else nothingDeleted">
    <h3>Hero deleted <small class="text-danger">{{deletedHero}}</small></h3>
  </div>

</div>
